%h3 Add Comment to Submission

= form_for [@submission, @create_comment], url: create_comment_location_cohort_assignment_submission_path(@assignment, @submission) do |f|
  = f.label :comment
  = f.text_area :comment

  = f.submit 'Save'