%h4 Hospital Chris
= link_to 'New Institution'
  %ul
/ =link_to 'New Patient', new_institution_patient_path(@institution)
/ %ul
/   - @patients.each do |patient|
/     %li{  class: "#{patient.workflow_state}"}
/       =patient.name
/       (#{patient.workflow_state})
/       %br 
/       =patient.description
/       - if patient.workflow_state == 'waiting'
/         =link_to "Go To Doctor", doctor_patient_path(patient), method: :patch
/         =link_to "Go To Xray", xray_patient_path(patient), method: :patch
/         =link_to "Go To Surgery", surgery_patient_path(patient), method: :patch
/         =link_to "Leave Hospital", leaving_patient_path(patient), method: :patch  
/       - elsif patient.workflow_state == 'doctor'
/         =link_to "Go To Xray", xray_patient_path(patient), method: :patch
/         =link_to "Go To Surgery", surgery_patient_path(patient), method: :patch
/         =link_to "Go To Billing", billpay_patient_path(patient), method: :patch  
/       - elsif patient.workflow_state == 'xray'
/         =link_to "Go To Surgery", surgery_patient_path(patient), method: :patch
/         =link_to "Go To Doctor", doctor_patient_path(patient), method: :patch
/         =link_to "Go To Billing", billpay_patient_path(patient), method: :patch  
/       - elsif patient.workflow_state == 'surgery'
/         =link_to "Go To Doctor", doctor_patient_path(patient), method: :patch
/         =link_to "Go To Xray", xray_patient_path(patient), method: :patch
/         =link_to "Go To Billing", billpay_patient_path(patient), method: :patch  
/       - if patient.workflow_state == 'billpay'
/         =link_to "Go Home", leaving_patient_path(patient), method: :patch 
/       %br
/       =link_to 'Show Patient', patient_path(patient)    
/       =link_to 'Edit Patient', edit_patient_path(patient)
/       %br
