<div class="gallery-container">
            <% 6.times do |i| %>
      <div class="gallery-picture"> 
        <img src="/images/company_pic_<%= i%>.jpg" class="gallery-picture">
      </div>
      <% end %>
</div>