<div class="homepage-container">
  <strong> Welcome to the homepage This should show the background bridge and two links for Jobs and Talent
     <%= @homepage_lorem_text %>

     <div class="homepage-image"> 
        <img src="/images/silicon-harbor.jpg" class="homepage-image">
      </div>
    <div class="homepage-job-and-talent">
      <div class="homepage-job">
        Jobs
      </div>
      <div class="homepage-talent">
        Talent
      </div>
    </div>
  </strong>
</div>