<html>
<head>
  <title>Hey Dude title</title>
</head>
<body>
Hey dude text.
  <!-- writing ruby in html -->
  <%=  @instance %>
  <%  if @instance ="Instance" %>  
  Dude man.
  <% else %>
    Where did the dudes go.
  <% end %>
  <br>
  <% @instance2.each do |name| %>
    <%= name %>
    <br>
  <% end %>

</body>
</html>