<a href="/">Home</a>
<div class="row">
  <div class="col-sm-8 blog-main">

  
  <form action = "/create_post" method="post">
    <div class="blog-post-title">
      Blog Title
     
    </div>

    <div class="form-group">
        <!-- <textarea class="col-xs-12"> -->
        <input type="text" name="blog[blog_title]">
        <!-- </textarea> -->
      <!-- <div class="clear">
      </div> -->

    </div>

    <div class="blog-post">
        Content of the Blog Post:
        <div class="form-group">
          <!-- <textarea class="col-xs-12"> -->
        <input type="text" name="blog[blog_content]">
          
          <!-- </textarea> -->
          <input type="submit" value="Create Blog">
        <!-- <div class="clear">
        </div> -->

      </div>

    </div>

    
  </form>
  </div>
</div>