<div class="row">
  <div class="col-sm-8 blog-main">

  
  <form>
    <div class="blog-post-title">
      Type the Title of Blog Post Here:
    </div>

    <div class="form-group">
        <textarea class="col-xs-12">
        
        </textarea>
      <div class="clear">
      </div>

    </div>

    <div class="blog-post">
        Type the Content of Blog Post Here:
        <div class="form-group">
          <textarea class="col-xs-12">
          
          </textarea>
          
        <div class="clear">
        </div>

      </div>

    </div>

    
  </form>
  </div>
</div>