<a href="/">Home</a>
<div class="row">
  <div class="col-sm-8 blog-main">

  
  <form action = "/edit_post/<%= @blog.id%>" method="post">
    <div class="blog-post-title">
      Title of the Blog Post:
     <input type="hidden" name="_method" value="put">
     
    </div>

    <div class="form-group">
        <!-- <textarea class="col-xs-12"> -->
        <input type="text" name="blog[blog_title]" placeholder="<%= @blog.blog_title %>">
        <!-- </textarea> -->
      <!-- <div class="clear">
      </div> -->

    </div>

    <div class="blog-post">
        Content of the Blog Post:
        <div class="form-group">
          <!-- <textarea class="col-xs-12"> -->
        <input type="text" name="blog[blog_content]" placeholder="<% @blog.blog_content %>">
          
          <!-- </textarea> -->
          <input type="submit" value="Edit Blog">
        <!-- <div class="clear">
        </div> -->

      </div>

    </div>

    
  </form>
  <a href="/">Home</a>
  </div>
</div>